{{page-title "ArchivedUsers"}}
<div class="container">
  <div class="columns is-centered">

    {{#each @model as |user|}}
    {{#if user.value}}
      <div class="column">

        <LinkTo @route="users.user" @model={{user}}>
          <div class="user-select is-220px">
            <img
              class="is-pulled-left"
              src={{user.image}}
              width="60px"
              alt="profile-image"
            />
            <p>{{user.name}}
             || User is achived
            
            </p>
          </div>
        </LinkTo>
        
      </div>
      {{/if}}
    {{/each}}

  </div>
</div>

{{outlet}}